.container {
    display: flex;
    align-items: stretch;
}

.name {
    border: 2px;
    width: 250px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-color: black;
    padding: 1em;
    margin: 10px;
}

.edit {
    border: 2px;
    width: fit-content;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    border-style: solid;
    border-color: black;
    padding: 1em;
    margin: 10px;
}